html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    text-align: center;
    background-color: #322e2d;
    color: #f6f0ee;
  }
  
  #logo {
    width: 7rem;
    height: 7rem;
    color : 'pink';
    object-fit: contain;
    margin-top: 4rem;
    
  }
  
  h1 {
    color: #e8d4b2;
    border: 2px solid green;
  }